<!--footer-->
<footer>
<!--<nav class="navbar fixed-bottom navbar-light bg-light">
  <h6 class="display-6 navbar-text">&copy;2020 All Rights reserved</h6>
</nav>--><br><br>

 <h6 >&copy;MD Faiaz Portfolio Website 2021 All Rights reserved</h6>
 
</footer>