

<nav>
        <ul id="nav">
            <li><a href="/"><i class="fas fa-lg fa-laptop-house"></i>Home</a></li>
            <li><a href="/aboutme"><i class="fas fa-info-circle"></i>About Me</a></li>
            <li> <a href="/projects"><i class="fas fa-project-diagram"></i>Projects</a></li>
            <li><a href="/service"><i class="fa fa-cog fa-spin fa-fw">></i> Services </a></li>
            <li><a href="/contactme"><i class="fas fa-address-book"></i> Contact </a></li>
         </ul>
    </nav>
   
    
    
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>